@model IEnumerable<JOB_Site.Models.Category>

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Benvenuti nel nostro sito</h1>
    <p class="lead">Qua puoi cercare o offrire un posto di lavoro.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@


    <div>
        @foreach (var item in Model)
        {

            <h1>@Html.DisplayFor(modelitem => item.CategoryName)</h1>
            <h5>@Html.DisplayFor(modelitem => item.CategoryDescription)</h5>

            <i class="glyphicon glyphicon-cloud"></i>
            <div class="row">

                @foreach (var subitem in item.Jobs)
                {

                <div class="img-thumbnail" style="margin-left:20px;margin-bottom:30px; height:200px; width:200px; background-color:ghostwhite ">

                    <img src="~/Uploads/@subitem.JobImage" width="120" lang="120" class="img-thumbnail rounded mx-auto d-block " />
                    <h4>@Html.DisplayFor(modelitem => subitem.JobTitle)</h4>
                    <h6>@Html.DisplayFor(modelitem => subitem.JobContent)</h6>


                    @Html.ActionLink("Details", "Details", new { id = subitem.Id }, new {@class="btn btn-primary" })



                </div>

                }
            </div>

        }


    </div>

